# ignore the exemple
hdemg_viewer_exemple/
!hdemg_viewer_exemple/Qt_creator/EMGExplorer_qt

# ignore the data
data/

EMG_Explorer_App/note.txt
EMG_Explorer_App/Template/
EMG_Explorer_App/Explorer_package/summary_display
EMG_Explorer_App/Explorer_package/summary_measurement
EMG_Explorer_App/Explorer_package/global_processing_pipelines
EMG_Explorer_App/Explorer_package/summary_report_structure
# except
EMG_Explorer_App/Explorer_package/__pycache__
EMG_Explorer_App/Explorer_package/processing/__pycache__